@import "colors";
@import "grid";
@import "typography";

:host {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header {
  width: 100%;
  background-color: $green;
  color: $whiteBg;

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
  }

  &__logo {
    @include colWidth(2);
    margin-left: 0;
    margin-right: auto;
  }

  &__menu-bar {
    margin-right: 32px;

    & > *:not(:first-child) {
      margin-left: 48px;
    }
  }

  &__phone {
    @include body3semibold;
    color: $whiteBg;
  }

  &__make-order {
    margin-left: 36px;
    width: 181px;
  }
}

.menu {
  display: flex;

  & > *:not(:first-child) {
    margin-left: 48px;
  }

  &__item {
    @include body5regular;

    &._with-dropdown {
      @include body5medium;
      padding-right: 28px; // под иконку
    }
  }
}
