@import "colors";
@import "grid";
@import "typography";

:host {
  //position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header {
  width: 100%;
  background-color: $green;
  color: $whiteBg;

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
  }

  &__logo {
    width: 170px;
    height: 40px;
    margin-left: 0;
    margin-right: auto;
  }

  &__menu {}

  &__phone {
    @include body3regular();
    margin-left: 82px;
    color: $whiteBg;
  }

  &__make-order {
    margin-left: 36px;
    @include colWidth(2);
  }
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 33px;

  &__item {
    @include body3regular();
    cursor: pointer;
  }
}

.dropdown {

  &__title {
    @include body3regular();
    display: flex;
    align-items: center;

    &-arrow {
      margin-left: 4px;
      transition: transform .2s ease-in-out;
      width: 24px;
      height: 24px;
      object-fit: scale-down;
    }
  }

  &:hover &__title-arrow {
    transform: rotate(-180deg);
  }

  &__content {
    display: none;
    position: absolute;
    top: 80px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;

    &-item {
      @include button2regular;
      min-width: 182px;
      color: $typographyDark;
      padding: 12px 16px;
      display: block;

      &:hover {
        background-color: $beige;
      }

      &:first-child {
        border-radius: 15px 15px 0 0;
      }

      &:last-child {
        border-radius: 0 0 15px 15px;
      }
    }

    &:before { //Данный блок предотвращает закрытие меню, после передвижения курсора вниз к элементам меню
      content: '';
      position: absolute;
      top: -30px;
      height: 30px;
      width: 150px;
    }
  }

  &:hover .dropdown__content {
    display: block;
  }
}
