@import "colors";

.gallery {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 356px;
  }

  &-item {
    max-width: 86px;
    border-radius: 4px;

    &_selected {
      border: 1px solid $green;
    }
  }

  &-arrow {
    width: 40px;
    height: 40px;
    padding: 15px;
    border-radius: 50px;
    color: white;
    background-color: $lightRed;
    cursor: pointer;

    &._left {
      margin-right: 25px;
    }

    &._right {
      margin-left: 25px;
    }

    &:hover {
      background-color: $red;
    }
  }
}
