<div class="gallery">
  <svg-icon class="gallery-arrow _left" icon="arrow-left" />

  <div class="gallery-items">
    <img class="gallery-item gallery-item_selected" src="/assets/images/product/product-lite-photo-1@1x.png" alt="Торт">
    <img class="gallery-item" src="/assets/images/product/product-lite-photo-2@1x.png" alt="Торт">
    <img class="gallery-item" src="/assets/images/product/product-lite-photo-3@1x.png" alt="Торт">
    <img class="gallery-item" src="/assets/images/product/product-lite-photo-4@1x.png" alt="Торт">
  </div>

  <svg-icon class="gallery-arrow _right" icon="arrow-right" />
</div>
