<div class="gallery">
  <div class="gallery-arrow gallery-arrow_left">
  </div>
  <div class="gallery-items">
    <img class="gallery-item gallery-item_selected" src="/assets/images/product/product-lite-photo-1@1x.png" alt="Торт">
    <img class="gallery-item" src="/assets/images/product/product-lite-photo-2@1x.png" alt="Торт">
    <img class="gallery-item" src="/assets/images/product/product-lite-photo-3@1x.png" alt="Торт">
    <img class="gallery-item" src="/assets/images/product/product-lite-photo-4@1x.png" alt="Торт">
  </div>
  <div class="gallery-arrow gallery-arrow_right">
  </div>
</div>
