@import "grid";
@import "typography";
@import "alert";

.callback-form {
  max-height: 928px;
  padding: 80px 0 156px;
  background-image: url("/assets/images/callback/callback-bg.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center bottom;

  &__container {
    padding-top: 256px;
  }

  &__photo {
    position: absolute;
  }

  &__form {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      @include heading2;
    }

    &-description {
      width: 100%;
      max-width: 676px;
      text-align: center;
      @include body2l;
      margin: 24px 0 40px;
    }

    &-inputs {
      display: flex;
      flex-direction: column;
      align-items: center;

      & input {
        @include body2l;
        width: 830px;
        height: 60px;

        background: #FDFDFD;
        border-radius: 80px;

        padding: 12px 48px;
        margin-bottom: 16px;

        &.ng-invalid.ng-touched {
          border: red 1px solid;
        }
      }
    }

    &-btn {
      @include button2medium;
      @include colWidth(4);
      margin: 24px auto 0;
    }
  }
}
