<div class="callback-form">
  <img class="callback-form__photo"
       src="/assets/images/callback/callback-photo-1@1x.png"
       srcset="/assets/images/callback/callback-photo-1@1x.png,
               /assets/images/callback/callback-photo-1@2x.png 2x"
       alt="Cake"
  >
  <div class="callback-form__container">
    <form class="callback-form__form" [formGroup]="callbackForm" novalidate (ngSubmit)="submit()">
      <h2 class="callback-form__form-title">
        Не знаете что выбрать?
      </h2>
      <p class="callback-form__form-description">
        Оставьте свои контактные данные и мы обсудим ваш идеальный торт вместе
      </p>
      <div class="callback-form__form-inputs">
        <input type="text" placeholder="Ваше имя" formControlName="name">
        <div class="alert _danger"
             *ngIf="shouldShowErrorForFiled('name')">
          Поле обязательно для заполнения
        </div>
        <input type="text" placeholder="Номер телефона" formControlName="phone">
        <div class="alert _danger"
             *ngIf="shouldShowErrorForFiled('phone')">
          Некорректный номер телефона
        </div>
      </div>
      <button type="submit" class="callback-form__form-btn btn _black _medium" [disabled]="callbackForm.invalid">Отправить</button>
    </form>
  </div>
</div>
