<div class="examples">
  <div class="examples__container container">
    <h2 class="examples__title">
      Примеры свадебных тортов
    </h2>
    <div class="examples__gallery">
      <img class="examples__gallery-item" src="../../../../../../../assets/images/wedding/wedding-lite-photo-1@1x.png" alt="Торт 1">
      <img class="examples__gallery-item" src="../../../../../../../assets/images/wedding/wedding-lite-photo-2@1x.png" alt="Торт 2">
      <img class="examples__gallery-item" src="../../../../../../../assets/images/wedding/wedding-lite-photo-3@1x.png" alt="Торт 3">
      <img class="examples__gallery-item" src="../../../../../../../assets/images/wedding/wedding-lite-photo-4@1x.png" alt="Торт 4">
    </div>
    <a href="#" class="examples__link btn _green">
      Оформить заказ
    </a>
  </div>
</div>
