<div class="product">
  <div class="product__container container">
    <div class="product__content">
      <div class="product__gallery">
        <div class="product__gallery-new">Новинка</div>
        <img class="product__gallery-main" src="/src/assets/images/product/product-photo-1@1x.png" alt="Продукт">
        <span class="product__gallery-title">Другие фото этой работы</span>
        <div class="product__gallery-slider">
          <app-product-gallery></app-product-gallery>
        </div>
      </div>
      <div class="product__info">
        <h2 class="product__title">Медовик</h2>
        <p class="product__description _margin_top_24_px">Следует отметить, что дальнейшее развитие различных форм деятельности позволяет выполнить важные </p>
        <p class="product__description-wrapper">
          <span class="product__paragraph">Вес: </span>
          <span class="product__description">от 1кг</span>
        </p>
        <p class="product__description-wrapper">
          <span class="product__paragraph">Срок изготовления: </span>
          <span class="product__description">2 дня</span>
        </p>
        <p class="product__description-wrapper">
          <span class="product__paragraph">Варианты начинок: </span><br>
          <span class="product__description">«Пралине», «Ваниль», «Орехово-шоколадная», «Клубника»</span>
        </p>
        <p class="product__description-wrapper _margin_top_32_px">
          <span class="product__title">1 350 ₽/кг*</span>
        </p>
        <p class="product__description-wrapper">
          <span class="product__description">*сноска об изменении цены</span>
        </p>
        <button
          type="button"
          class="product-btn btn _black"
          (click)="open()"
        >
          Хочу заказать
        </button>
      </div>
    </div>
    <div class="product__desc">
      <h2 class="product__desc-title">Дополнительная информация</h2>
      <div class="product__desc-wrapper">
        <div class="product__desc-section">
          <h3 class="product__desc-headline">Состав</h3>
          <span class="product__description">Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: экономическая повестка сегодняшнего дня не даёт нам иного выбора, кроме определения.</span>
        </div>
        <div class="product__desc-section">
          <h3 class="product__desc-headline">Пищевая и энергетическая ценность (100 г.)</h3>
          <p class="product__description">белки - 5,1г, жиры - 33,7г, углеводы - 46,4г</p>
          <p class="product__description _margin_top_8_px">497 ккал;</p>
        </div>
      </div>
    </div>
  </div>
</div>
