.social-block {
  width: 76px;
  height: 312px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  padding: 34.75px 18.75px;
  top: 286px;

  background: rgba(106, 137, 132, 0.36);
  backdrop-filter: blur(26.166px);
  border-radius: 0 24px 24px 0;


  &-item {
    width: 38.5px;
    height: 38.5px;
  }
}
