<div class="social-block">
  <a href="https://vk.com/" target="_blank"><img class="social-block-item" src="assets/images/icons/vk-circle.svg" alt="vk"></a>
  <a href="https://t.me/Drunk_Bear19" target="_blank"><img class="social-block-item" src="assets/images/icons/telegram-circle.svg" alt="telegram"></a>
  <a href="https://wa.me/79000000000" target="_blank"><img class="social-block-item" src="assets/images/icons/whatsapp-circle.svg" alt="whatsapp"></a>
  <a href="viber://chat?number=%2B79372545419" target="_blank"><img class="social-block-item" src="assets/images/icons/viber-circle.svg" alt="viber"></a>
</div>
