@import "colors";
@import "typography";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color .3s ease-out;
  border-radius: 1000px;
  cursor: pointer;
  background-color: $whiteBg;

  //base
  height: 44px;
  @include button3s;

  &:not(&:disabled) {
    cursor: pointer;
  }

  // sizes
  &._big {
    @include button1l;
    height: 60px;
  }

  // colors

  &._beige {
    &:not(:disabled) {
      background-color: $beige;
      color: $typographyDark;

      &:hover, &:active {
        background-color: $peachy;
      }
    }
  }

  &._red {
    &:not(&:disabled) {
      background-color: $lightRed;
      color: $whiteBg;

      &:hover, &:active {
        background-color: $red;
      }
    }
  }

  // TODO допилить после доработки дизайна
  &._outline {
    &:not(:disabled) {
      background-color: transparent;
      border: 2px solid $lightRed;
      color: $typographyDark;

      &:hover, &:active {
        border-color: $typographyDark;
      }
    }

    &:disabled {

    }
  }

  &._black {
    background-color: $typographyDark;
    color: $white;
    &:not(:disabled) {

      &:hover, &:active {
        background-color: $red;
      }
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  &._green {
    &:not(:disabled) {
      background-color: $green;
      color: $whiteBg;

      &:hover, &:active {
        background-color: $darkgreen;
      }
    }

    &:disabled {
      opacity: 0.4;
    }

  }
}
