@import "colors";
@import "typography";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color .3s ease-out;
  border-radius: 1000px;
  cursor: pointer;
  background-color: $whiteBg;

  //base
  height: 76px;
  @include button1l;

  &:not(&:disabled) {
    cursor: pointer;
  }


  // sizes
  &._small {
    @include button3s;
    height: 48px;
  }

  &._medium {
    @include button2medium;
    height: 72px;
  }

  // colors

  &._beige:not(&:disabled) {
    background-color: $beige;
    color: $typographyDark;

    &:hover, &:active {
      background-color: $peachy;
    }
  }

  &._red:not(&:disabled) {
    background-color: $lightRed;
    color: $whiteBg;

    &:hover, &:active {
      background-color: $red;
    }
  }

  &._white:not(&:disabled) {
    background-color: $whiteBg;
    color: $typographyDark;

    &:hover, &:active {
      background-color: $beige;
    }
  }
}
