<div class="description">
  <div class="description__container container">
    <div class="description__section">
      <img
          class="description__photo"
          srcset="
            assets/images/about/about-photo-1@1x.png 1x,
            assets/images/about/about-photo-1@2x.png 2x
          "
          alt="Фото кондитера">
      <div class="description__about">
        <h1 class="description__title">Обо мне</h1>
        <p class="description__subtitle">Моя идентичность как кондитера глубоко укоренилась в моей страсти к выпечке и созданию восхитительных угощений.</p>
        <p class="description__desc">Моя любовь к выпечке началась в юном возрасте, когда я наблюдала, как моя бабушка и мама пекут на своих кухнях. Когда я стала старше, я начала экспериментировать со своими собственными рецептами и методами, учась методом проб и ошибок.</p>
        <p class="description__desc">Сегодня я с гордостью могу сказать, что являюсь опытным кондитером с репутацией производителя высококачественной выпечки, которая производит неизгладимое впечатление на каждого, кто ее попробует. Я горжусь тем, что использую только самые лучшие ингредиенты, выбирая самые лучшие продукты для создания своих лакомств.</p>
      </div>
    </div>
    <p class="description__desc">Но выпечка для меня больше, чем просто работа. Это способ выразить свое творчество и доставить радость другим. Мне нравится видеть улыбки на лицах моих клиентов, когда они откусывают первый кусочек того, что я приготовила.</p>
    <p class="description__desc">Короче говоря, я страстный и преданный своему делу кондитер, стремящийся доставлять самую лучшую выпечку и сладости всем, кому посчастливится их попробовать.</p>
  </div>
</div>
