<div class="another-section">
  <div class="another-section__container container">
    <h2 class="another-section__title">
      Другие разделы
    </h2>
    <div class="another-section__gallery">
      <img class="another-section__gallery-item" src="/assets/images/shared/another-section-photo-1@1x.png" alt="Фото 1">
      <img class="another-section__gallery-item" src="/assets/images/shared/another-section-photo-2@1x.png" alt="Фото 2">
      <img class="another-section__gallery-item" src="/assets/images/shared/another-section-photo-3@1x.png" alt="Фото 3">
      <img class="another-section__gallery-item" src="/assets/images/shared/another-section-photo-4@1x.png" alt="Фото 4">
    </div>
    <div class="another-section__buttons">
      <div class="another-section-arrow _left"></div>
      <div class="another-section-circle carousel-circle_active"></div>
      <div class="another-section-circle"></div>
      <div class="another-section-arrow _right"></div>
    </div>
  </div>
</div>
