@import "typography";
@import "grid";
@import "colors";
@import "animation";

.category-tile {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  box-shadow: 3px 7px 20px rgba(155, 101, 101, 0.15);
  border-radius: 5px;
  padding: 12px 24px;

  background-color: $whiteBg;
  color: $typographyDark;

  @include baseAnimation('background-color, color');

  &:hover, &:focus {
    background-color: $lightRed;
    color: $whiteBg;
  }

  &__image {
    width: 100px;
  }

  &__name {
    margin-top: 20px;
    @include heading4;
    text-align: center;
    height: 48px;
  }
}
