@import "typography";
@import "colors";

.review-card {
  width: 460px;
  height: 221px;

  background-color: $blue;
  border-radius: 18px;
  box-shadow: 3px 14px 20px rgba(70, 73, 91, 0.15);

  padding: 24px;

  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    align-items: center;
    height: 44px;

    &-name {
      @include body5medium;
    }
  }

  &__description {
    flex-grow: 1;

    background-color: $whiteBg;
    border-radius: 12px;
    margin-top: 8px;
    padding: 16px;
    @include button2regular;
  }
}
