@import "typography";
@import "colors";

.review-card {
  width: 508px;
  height: 297px;

  background-color: $blue;
  border-radius: 18px;
  box-shadow:
    -53px 126px 55px rgba(129, 121, 121, 0.01),
    -30px 71px 46px rgba(129, 121, 121, 0.05),
    -13px 31px 34px rgba(129, 121, 121, 0.09),
    -3px 8px 19px rgba(129, 121, 121, 0.1);

  padding: 32px 24px 24px;

  &__title {
    display: flex;
    align-items: center;

    &-name {
      @include body1l;
      padding-left: 10px;
    }
  }

  &__description {
    height: 186px;

    background-color: $whiteBg;
    border-radius: 12px;
    margin-top: 20px;
    padding: 16px;
    @include body5regular;
  }
}
