@import "typography";

.review-card {
  width: 610px;
  height: 297px;

  background-color: #E3E8F4;
  border-radius: 18px;
  box-shadow:
    -53px 126px 55px rgba(129, 121, 121, 0.01),
    -30px 71px 46px rgba(129, 121, 121, 0.05),
    -13px 31px 34px rgba(129, 121, 121, 0.09),
    -3px 8px 19px rgba(129, 121, 121, 0.1);

  padding: 24px;
  margin-top: 96px;
  margin-right: 15px;
  margin-left: 38px;

  &__title {
    display: flex;
    align-items: center;
    margin: 0 0 18.5px;

    &-name {
      @include body1l;
      padding-left: 10px;
    }
  }

  &__description {
    width: 562px;
    height: 186px;

    background-color: #FBFBFB;
    border-radius: 12px;
    padding: 24px;
    @include body5regular;
  }
}
