@import "typography";
@import "grid";
@import "colors";

.about {
  &__container {
    padding-top: 80px;
    padding-bottom: 189px;
  }

  &__title {
    @include heading2;
    width: 100%;
    text-align: center;
  }

  &__wrapper {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
  }

  &__photos {
    @include colWidth(6);
    position: relative;
    height: 593px;
  }

  &__photo {
    position: absolute;

    &._top {
      top: 0;
      left: 0;
    }

    &._bottom {
      right: 0;
      bottom: 0;

      box-shadow: -53px 126px 55px rgba(129, 121, 121, 0.01), -30px 71px 46px rgba(129, 121, 121, 0.05), -13px 31px 34px rgba(129, 121, 121, 0.09), -3px 8px 19px rgba(129, 121, 121, 0.1);
    }

    &._line-bg {
      top: 129px;
      left: -58px;
    }
  }

  &__description {
    @include colWidth(6);

    &-title {
      @include heading3;
      color: $green;
      margin-top: 100px;
    }

    &-text {
      @include body3regular;
      margin-top: 40px;
    }
  }
}
