<div class="terms">
  <div class="terms__container container">
    <h2 class="terms__title">
      Условия заказа
    </h2>
    <div class="terms__wrapper">
      <p class="terms__textBold">
        Минимальный заказ торта - 2 кг.
      </p>

      <p class="terms__text">
        Количество ярусов определяется в зависимости от веса.
      </p>
    </div>

    <h4 class="terms__subtitle">
      Предоплата
    </h4>

    <div class="terms__wrapper">
      <p class="terms__text">
        Уважаемые заказчики! Я работаю по предоплате.<br>
        При заказе торта необходимо внести предоплату 20% от стоимости не позднее, чем за день до доставки.
      </p>
    </div>

    <div class="terms__wrapper">
      <p class="terms__textBold">
        Вы можете оплатить свой заказ наиболее удобным для вас способом:
      </p>

      <div class="terms__text">
        <ol>
          <li>
            1. Безналичная оплата на реквизиты расчетного счета;
          </li>
          <li>
            2. Интернет-перевод через специализированные платежные системы;
          </li>
          <li>
            3. Оплата с личной банковской карты на карту Сбербанка.
          </li>
        </ol>
      </div>
    </div>

    <h4 class="terms__subtitle">
      Доставка
    </h4>

    <div class="terms__wrapper">
      <p class="terms__text">
        Доставка осуществляется в день торжества или за день до праздника к назначенному Вами времени.
      </p>
      <p class="terms__textBold">
        Доставка по Саратову и Энгельсу: от 450 рублей.
      </p>
    </div>

    <div class="terms__wrapper">
      <p class="terms__textBold">
        Самовывоз по адресу: г.Саратов. ул.Мичурина д.7
      </p>
      <p class="terms__textBold">
        Телефон для связи: +7 (900) 000 00 00
      </p>
    </div>
  </div>
</div>
