@import "typography";
@import "grid";
@import "colors";

.advantages {
  padding-top: 80px;
  padding-bottom: 160px;

  &__title {
    @include heading2();
    text-align: center;
  }

  &__list {
    background-image: url("/assets/images/home/advantages-background.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;

    &._without-background {
      background: none;
    }

    &._without-background &-container {
      margin-top: 0;
      padding-top: 0;
    }

    &-container {
      margin-top: 48px;
      padding-top: 36px;
      display: flex;
      justify-content: space-between;
    }

    &-item {
      @include colWidth(4);
    }
  }
}

.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__illustration {
    width: 196px;
    aspect-ratio: 1 / 1;
    object-fit: scale-down;
  }

  &__title {
    margin-top: 64px;
    @include body4accent();
    color: $green;
  }

  &__text {
    margin-top: 16px;
    @include body5regular();
    text-align: center;
    max-width: 280px;
  }
}

._compactVersion {
  &.advantages {
    padding: 0;
  }

  .advantages {
    &__list {
      background: none;

      &-container {
        margin-top: 0;
        padding-top: 0;
      }
    }
  }

  .advantage {
    &__illustration {
      width: 160px;
    }

    &__title {
      margin-top: 24px;
    }
  }
}
