:host {
  display: block;
  background-image:
    url('/assets/images/product/product-bg-line.svg');
  background-repeat: no-repeat;
  background-size: 1025px;
  background-position: left top;
  margin-top: 50px;
}
