<div class="payment">
  <div class="payment__container container">
    <div class="payment__title">
      Способы оплаты
    </div>
    <div class="payment__desc">
      Уважаемые заказчики!<br>
      Я работаю по предоплате, Вы можете оплатить свой заказ наиболее удобным для вас способом:
    </div>
    <div class="payment__list">
      <ul>
        <li class="payment__list-item">
          <div class="payment__list-image">1</div>
          <p>Безналичная оплата на реквизиты расчетного счета;</p>
        </li>
        <li class="payment__list-item">
          <div class="payment__list-image">2</div>
          <p>Интернет-перевод через специализированные платежные системы;</p>
        </li>
        <li class="payment__list-item">
          <div class="payment__list-image">3</div>
          <p>Оплата с личной банковской карты на карту Сбербанка.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
