<div class="pickup">
  <div class="pickup__container container">
    <div class="pickup__section">
      <div class="pickup__title">
        Самовывоз
      </div>
      <div class="pickup__desc">
        Вы можете забрать свой торт самостоятельно<br>
        в удобное для Вас время по предварительной договоренности.
      </div>
      <div class="pickup__info">
        <p>Самовывоз по адресу: г.Саратов. ул. Мичурина д.7</p>
        <p>Телефон для связи: +7 (900) 000 00 00</p>
      </div>
    </div>
    <div class="pickup__section">
      <img src="assets/images/delivery/delivery-photo-2@1x.png" alt="Карта" class="pickup__map">
    </div>
  </div>
</div>
