@import "colors";
@import "typography";
@import "grid";

.footer {
  background: $gray2;
  padding: 32px 0;
  color: $whiteBg;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > * {
      @include colWidth(4);
    }
  }

  &__menu {
    &-item {

      &:not(:first-child){
        margin-top: 8px;
      }
    }

    &-link {
      @include button2regular;
    }
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo img {
    width: 200px;
  }

  &__socials {
    margin-top: 42px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &-wrapper {
      margin-right: 43px;
    }

    &-title {
      @include body3semibold;
    }

    &-item {
      margin-top: 8px;
      display: block;
      @include button2regular;
    }
  }

  &__copyright {
    @include button2regular;
    margin-top: 24px;
  }
}
