<footer class="footer">
  <div class="footer__container container">
    <div class="footer__menu menu">
      <div class="menu__item">
        Обо мне
      </div>
      <div class="menu__item">
        Каталог
      </div>
      <div class="menu__item">
        Портфолио
      </div>
      <div class="menu__item">
        Доставка и оплата
      </div>
    </div>
    <div class="footer__center">
      <div class="footer__logo">
        Логотип
      </div>
      <div class="footer__socials socials">
        <img class="socials__item" src="./assets/images/icons/icons__social_vk.svg" alt="vk">
        <img class="socials__item" src="./assets/images/icons/icons__social_telegram.svg" alt="telegram">
        <img class="socials__item" src="./assets/images/icons/icons__social_whatsapp.svg" alt="whatsapp">
        <img class="socials__item" src="./assets/images/icons/icons__social_viber.svg" alt="viber">
      </div>
    </div>
    <div class="footer__contacts contacts">
      <div class="contacts__title">
        Контакты
      </div>
      <div class="contacts__description description">
        <a class="description__item" href="tel:+79998887766">7 (900) 000 00 00</a>
        <a class="description__item" href="https://www.instagram.com/">@viktanya_cakes</a>
      </div>
      <div class="contacts__copyright">
        Copyright © 2022. Все права защищены.
      </div>
    </div>
  </div>
</footer>
