<footer class="footer">
  <div class="footer__container container">
    <ul class="footer__menu">
      <li class="footer__menu-item"><a class="footer__menu-link" href="#">Обо мне</a></li>
      <li class="footer__menu-item"><a class="footer__menu-link" href="#">Каталог</a></li>
      <li class="footer__menu-item"><a class="footer__menu-link" href="#">Портфолио</a></li>
      <li class="footer__menu-item"><a class="footer__menu-link" href="#">Доставка и оплата</a></li>
    </ul>

    <div class="footer__center">
      <div class="footer__logo">
        Логотип
      </div>

      <div class="footer__socials">
        <img class="footer__socials-item" src="assets/images/icons/vk-circle.svg" alt="vk">
        <img class="footer__socials-item" src="assets/images/icons/telegram-circle.svg" alt="telegram">
        <img class="footer__socials-item" src="assets/images/icons/whatsapp-circle.svg" alt="whatsapp">
        <img class="footer__socials-item" src="assets/images/icons/viber-circle.svg" alt="viber">
      </div>
    </div>

    <div class="footer__contacts">
      <div class="footer__contacts-wrapper">
        <div class="footer__contacts-title">
          Контакты
        </div>

        <a class="footer__contacts-item" href="tel:+79998887766">7 (900) 000 00 00</a>
        <a class="footer__contacts-item" href="https://www.instagram.com/" target="_blank">@viktanya_cakes</a>
      </div>

      <div class="footer__copyright">
        Copyright © {{ currentYear }}. Все права защищены.
      </div>
    </div>
  </div>
</footer>
