<div
  class="imageViewer"
  *ngIf="isShowImageViewer"
>
  <div class="imageViewer__background" (click)="closeFull()"></div>

  <button class="imageViewer__button _left" type="button" (click)="backImage()">
    <svg-icon class="imageViewer__button-icon" icon="arrow-left" />
  </button>

  <img
    class="imageViewer__item"
    srcset="
      {{imageList[currentImageIndex].preview}} 1x,
      {{imageList[currentImageIndex].retinaSize}} 2x,
    "
    alt="Картинка {{currentImageIndex}}"
  >
  <button class="imageViewer__button _right" type="button" (click)="nextImage()">
    <svg-icon class="imageViewer__button-icon" icon="arrow-right" />
  </button>
</div>
