<div
  class="showFull"
  *ngIf="isShowImageViewer"
>
  <div class="showFull__background" (click)="closeFull()"></div>

  <button class="showFull-arrow _left" type="button" (click)="backImage()"></button>

  <img
    class="showFull__image"
    srcset="
      /assets/images/home/portfolio/{{imageList[currentImageIndex].preview}} 1x,
      /assets/images/home/portfolio/{{imageList[currentImageIndex].retinaSize}} 2x,
    "
    alt="Сертификат {{currentImageIndex}}"
  >
  <button class="showFull-arrow _right" type="button" (click)="nextImage()"></button>
</div>
