<div class="product">
  <div class="product__container container">
    <div class="product__content">
      <div class="product__content-photo">
        <img src="/assets/images/product/product-photo-1@1x.png" alt="Продукт">
        <span class="product__title-text">Другие фото этой работы</span>
        <div class="product__content-slider">

        </div>
      </div>
      <div class="product__content-features">
        <h2 class="product__title">Медовик</h2>
        <div class="product__text-wrapper _margin_top_24_px">
          <span class="product__text">Следует отметить, что дальнейшее развитие различных форм деятельности позволяет выполнить важные </span>
        </div>
        <div class="product__text-wrapper">
          <span class="product__title-text">Вес</span>
          <span class="product__text">от 1кг</span>
        </div>
        <div class="product__text-wrapper">
          <span class="product__title-text">Срок изготовления:</span>
          <span class="product__text">2 дня</span>
        </div>
        <div class="product__text-wrapper">
          <span class="product__title-text">Варианты начинок:</span><br>
          <span class="product__text">«Пралине», «Ваниль», «Орехово-шоколадная», «Клубника»</span>
        </div>
        <div class="product__text-wrapper _margin_top_32_px">
          <span class="product__title">1 350 ₽/кг*</span>
        </div>
        <div class="product__text-wrapper">
          <span class="product__text">*сноска об изменении цены</span>
        </div>
        <button
          type="submit"
          class="product-btn btn _black"
        >
          Хочу заказать
        </button>
      </div>
    </div>
    <div class="product__desc">
      <h2 class="product__desc-title">Дополнительная информация</h2>
      <div class="product__desc-wrapper">
        <div class="product__desc-section _margin_right_40_px">
          <div class="product__desc-headline">Состав</div>
          <span class="product__text">Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: экономическая повестка сегодняшнего дня не даёт нам иного выбора, кроме определения.</span>
        </div>
        <div class="product__desc-section">
          <div class="product__desc-headline">Пищевая и энергетическая ценность (100 г.)</div>
          <span class="product__text">белки - 5,1г, жиры - 33,7г, углеводы - 46,4г</span>
          <div class="product__title-text _margin_top_8_px">497 ккал;</div>
        </div>
      </div>
    </div>
  </div>
</div>
