@import "grid";
@import "typography";

.reviews {

  &__container {
    margin: 80px 0;
  }

  &__title {
    @include heading2;
    width: 100%;
    text-align: center;
  }

  &__cards {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
    padding: 48px 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__card {
    margin-left: 38px;

    // для сохранения отступа справа при полной прокрутке
    &:last-child {
      margin-right: 38px;
    }
  }

  &__btn {
    @include button2medium;
    width: 237px;
    margin: 0 auto;
  }
}
