@import "grid";
@import "typography";

.reviews {

  &__container {
    margin: 80px 0;
  }

  &__title {
    @include heading2;
    width: 100%;
    text-align: center;
  }

  &__cards {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
    margin: 48px 0;
  }
  &__cards::-webkit-scrollbar {
    display: none;
  }

  &__btn {
    @include button2medium;
    width: 237px;
    margin: 0 auto;
  }
}
