@import "typography";
@import "colors";
@import "grid";

.banner {
  height: 1103px;
  color: $whiteBg;

  background-image:
    url('/assets/images/horizontal-line-red.svg'),
    image-set(
        url('/assets/images/home/banner-bg@1x.webp') 1x,
        url('/assets/images/home/banner-bg@2x.webp') 2x
    );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom,  center top;

  @media screen and (max-width: 1600px) {
    height: 103vh;
    background-size: contain, cover;
  }

  &__container {
    padding-top: 27vh;
  }

  &__title {
    @include heading1;
  }

  &__text {
    @include body1l;
    margin-top: 32px;
    width: 504px;
  }

  &__catalog-link {
    margin-top: 80px;
    @include colWidth(4);
  }
}
