@import "typography";

:host {
  display: block;

  .gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px;

    &__photo {
      border-radius: 5px;
    }
  }
}
