/* You can add global styles to this file, and also import other style files */
@import "assets/styles/reset.css";

@import "typography";
@import "button";
@import "grid";
@import "colors";

body {
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  color: $typographyDark;
  background-color: $whiteBg;
}

tui-dialog[data-appearance='taviko-modal'] {
  border: none;
  border-radius: 8px;

  .t-content {
    padding: 80px 100px;
  }
}
