<div class="certificates">
  <div class="certificates__container container">
    <h1 class="certificates__title">Сертификаты</h1>
    <div class="certificates__carousel">
      <img
        *ngFor="let image of imageList"
        src="assets/images/about/{{image.preview}}"
        class="certificates__item" alt="Сертификат {{image.id}}"
        (click)="showFull(image.id)"
      >
      <div
        [style.display]="isFull?'flex':'none'"
        [ngClass]="{showFull:isFull}"
        (click)="closeFull($any($event.target).localName)"
      >
        <button class="showFull-arrow _left" type="button" (click)="backImage()"></button>
        <img
          class="showFull__image"
          src="assets/images/about/{{imageList[idImage-1].retinaSize}}"
          alt="Сертификат {{imageList[idImage-1].id}}"
        >
        <button class="showFull-arrow _right" type="button" (click)="nextImage()"></button>
      </div>
    </div>
  </div>
</div>
