@import "typography";

.certificates {
  padding-bottom: 161px;

  &__title {
    @include heading2;
    margin-top: 48px;
    text-align: center;
  }

  &__carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 48px;
  }

  &__item {
    max-width: 360px;
    object-fit:none;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
